body{
    background:#0f0f1a;
    height:100vh;
}
.main-box {
    position: relative;
    width: 80%;
}
 

.container{
    margin: 100px 0 0 200px;
    width: 70%;
    height: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
 
.container img{
    width: 10%;
    height:100%;
    object-fit: cover;
    border-radius: 15px;
    transition: all 0.5s ease;
    cursor: pointer;
}
.container img:hover{
    width:40%;
    /* box-shadow:0 0 6px rgba(255,255,150, 0.6),
        0 0 12px rgba( 255, 255,150, 0.5),
        0 0 20px rgba( 255, 255,150, 0.4); */

        
    box-shadow:
        0 0 6px rgba(120, 200, 255, 0.6),
        0 0 12px rgba(120, 200, 255, 0.5),
        0 0 20px rgba(120, 200, 255, 0.4);
}